.form {
    width:40%;
    
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

    .form h2 {
        text-align: center;
    }

    .form form {
        display: flex;
        flex-direction: column;
    }

    .form label {
        margin-top: 10px;
    }

    .form input,
    .form select {
        margin: 5px 0;
        padding: 5px;
        border: 1px solid #ccc;
    }

        .form input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
        }

    .form .exit-button {
        margin-top: 10px;
        background-color:red;
        height:36px;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }

/* CSS cho nút Đăng ký và Đăng nhập */
.button {
    display: flex;
}

    .button button {
        margin: 0 10px;
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        cursor: pointer;
    }
