
#tendanhmuc{
    font-style:italic;
    font-size:150%;
    margin-left:100px;
}
.hotline {
    position: absolute;
    top: 30px;
    left: 500px;
   
    color:aliceblue;
    padding: 10px;
}



.ad {
    display: inline-block;
    margin: 10px;
   
}

img {
    max-width: 100%;
    height: auto;
}



.theme-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    float: right; /* Đặt nút bên phải */

}
.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

    .theme-button:hover {
        background-color: #2980b9;
    }
    
    *{
    font-family:'Segoe UI';
}


.search-input {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 20px;
    width: 500px;
}

.search-button {
  
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;

}

    .search-button:hover {
        background-color: #2980b9;
    }



/* Kéo dài chiều cao của header */
.header-extended {
    height: 150px; /* Chiều cao mới cho header */
}
.button{
    position: absolute;
    top: 70px; /* Đặt khoảng cách từ trên xuống */
    right: 10px; /* Đặt khoảng cách từ phải qua */
}

#tenweb {
    color: aquamarine;
   
    font-size: 300%;
    margin-top:-10px;
    font-style:oblique;
    
}

.button{
    color:aqua;
    float:right;

}


body {
    background: #211917 url(../images/bg-body.png) repeat-y center top;
    font-family: "QuattrocentoSans-Regular";
    margin: 0;
}

  
/*------------------------------ HEADER ------------------------------*/
#header {
    background-color: #241b18;
    height: 120px;
    border-bottom: 1px solid #fff;
    padding: 36px 0 0;
    text-align: center;
}

    #header > div {
        width: 940px;
        margin: 0 auto;
        padding: 0 10px;
        text-align: right;
    }
/** Logo **/
body {
    background-color:aliceblue;
}


/* Định dạng cho danh sách ul */
#navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

    /* Định dạng cho mỗi mục li trong danh sách */
    #navigation li {

        display: inline; /* Hiển thị các mục li trên cùng một hàng */
        margin-right: 20px; /* Khoảng cách giữa các mục li */
    }

    /* Định dạng cho các li có class "navMenu" */
    #navigation .navMenu {
        font-weight: bold;
        color: #333; /* Màu chữ */
    }

    /* Định dạng cho các thẻ a bên trong mục li */
    #navigation a {
        text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
        color:azure; /* Màu liên kết */
        transition: color 0.3s; /* Hiệu ứng màu khi di chuột qua liên kết */
    }

        /* Định dạng cho liên kết khi di chuột qua */
        #navigation a:hover {
            color: #ff5733; /* Màu liên kết khi di chuột qua */
        }




 

